extends ../../layouts/account

block head
  title Account Area

block neck
  link(rel='stylesheet', href='/views/account/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/account/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 My Account
      div.container
        div.row
          h3
            a(href="/account/sites/my")
              i.fa.fa-user
              | &nbsp;Nightscout
          :markdown
            Manage my Nightscout.

        div.row
          h3
            a(href="/account/settings")
              i.fa.fa-user
              | &nbsp;Profile
          :markdown
            Manage username, email, and connect social media accounts
            with my profile.
        div.row
          h3
            a(href="/account/subscription")
              i.fa.fa-user
              | &nbsp;Subscription
          :markdown
            Manage payment methods, view upcoming and past transactions.


    //- div.col-sm-6.special
      div.page-header
        h1 Login with Nightscout
      div.row
        h2 Manage Nightscout
        h3 Users
        h3 Groups
        h3 Schedules
      i.fa.fa-dashboard.super-awesome
      //- img(src="//#{ username }-login.diabetes.watch/api/v1/status.svg")

      //- h2
      //-   a(href="//#{ username }-login.diabetes.watch/") #{ username } with Nightscout
